
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>게시판 리스트</title>
</head>
<body>

<footer th:fragment="common-footer">

    <div class="container">

        <!--검색어-->
        <div class="row mb-3">
            <div class="col text-center">
                <nav aria-label="Page navigation">
                    <div th:if="${!articlePage.empty}" class="row justify-content-center">
                        <nav class="pagination justify-content-center">
                            <ul class="pagination justify-content-center">
                                <!-- Previous Button -->
                                <li class="page-item" th:classappend="${articlePage.number < 5 ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/articles(page=${(articlePage.number / 5) * 5 - 1}, searchType=${searchType}, searchKeyword=${searchKeyword})}">이전</a>
                                </li>
                                <!-- Page Numbers -->
                                <li th:each="pageNum : ${#numbers.sequence((articlePage.number / 5) * 5, ((articlePage.number / 5) * 5) + 4)}"
                                    th:classappend="${pageNum >= articlePage.totalPages ? 'd-none' : ''} + ${pageNum == articlePage.number ? ' disabled' : ''}"
                                    class="page-item">
                                    <th:block th:if="${pageNum == articlePage.number}">
                                        <span class="page-link" th:text="${pageNum + 1}"></span>
                                    </th:block>
                                    <th:block th:if="${pageNum != articlePage.number}">
                                        <a class="page-link"
                                           th:href="@{/articles(page=${pageNum}, searchType=${searchType}, searchKeyword=${searchKeyword})}"
                                           th:text="${pageNum + 1}"></a>
                                    </th:block>
                                </li>
                                <!-- Next Button -->
                                <li class="page-item" th:classappend="${(articlePage.number / 5) * 5 + 5 >= articlePage.totalPages ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/articles(page=${(articlePage.number / 5) * 5 + 5}, searchType=${searchType}, searchKeyword=${searchKeyword})}">다음</a>
                                </li>
                            </ul>
                        </nav>
                    </div>



                    <div th:if="${articlePage.empty}" class="row">
                        <div class="col text-center">
                            <div class="alert alert-dark" role="alert">
                                <i class="fas fa-info-circle"></i> 아직 찾으시는 내용이 없네요!
                                <p>다른 검색어로 시도해보시거나, 아래 버튼을 클릭하여 메인 페이지로 돌아가세요.</p>
                                <a href="/" class="btn btn-dark btn-sm">메인 페이지로 돌아가기</a>
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </div>



        <!-- 검색 양식 -->
        <div class="row mb-3">
            <div class="col">
                <form th:action="@{/articles}" method="get">
                    <div class="form-row">
                        <div class="col-4">
                            <select class="form-control" id="searchType" name="searchType">
                                <option value="ALL">전체</option>
                                <option value="TITLE">제목</option>
                                <option value="CONTENT">내용</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="searchKeyword" name="searchKeyword" placeholder="검색어 입력">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- 저작권 정보 추가 -->
    <div class="text-center mt-4">
        <hr> <!-- 구분선 -->
        <p>&copy; 2024 JeongHo Website Name. All rights reserved.</p>
    </div>


</footer>
</body>
</html>
