<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 헤더 관련 메타 태그, 스타일시트 링크 등 -->
</head>
<body>
<header th:fragment="common-header">

    <header class="p-3 bg-dark text-white">

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" href="/articles" class="nav-link px-2 text-secondary">Home</a></li>
                </ul>
            </div>

            <form action="/logout" method="post">
                <input type="submit" value="LogOut" class="nav-link px-2 text-secondary" style="background:none;border:none;padding:0;">
            </form>
        </div>

        <div>
            <div>
                <span>이메일: </span><span th:text="${currentUser != null ? currentUser.email : '로그인하지 않음'}"></span>
                <span> 권한: </span><span th:text="${currentUser != null ? currentUser.role : '없음'}"></span>
            </div>
        </div>

    </header>


    <!-- alert msg -->
    <div class="alert alert-primary alert-dismissible" th:if="${msg}">
        <span th:text="${msg}">Alert message here</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


</header>

</body>
</html>




