<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>산술 연산

        <ul>
            <li>10 + 2 = <span th:text="10 + 2"></span></li>
            <li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
        </ul>

    </li>
    <li>비교 연산
        <ul>

<!--            비교: >, <, >=, <= (gt, lt, ge, le)-->
<!--            동등 연산: ==, != (eq, ne)-->



            <li>1 > 10 = <span th:text="1 &gt; 10"></span></li>

<!--            &gt;는 HTML에서 사용하는 이스케이프된 문자(escape character)입니다. -->
<!--            HTML에서는 이런 방식으로 특수 문자를 표현합니다. &gt;는 'greater than'의 의미인 '>' 문자를 표현하는 방법입니다. -->
<!--            비슷한 예로, '<' 문자를 표현할 때는 &lt;를 사용합니다. 이런 이스케이프된 문자는 보안 문제를 방지하거나, -->
<!--            HTML 태그와 혼동되지 않도록 특수 문자를 표현하는 데 사용-->

            <li>1 gt 10 = <span th:text="1 gt 10"></span></li>

<!--            gt는 Thymeleaf 템플릿 엔진에서 사용하는 연산자입니다. -->
<!--            Thymeleaf는 표현식에서 'greater than' 즉, '>' 연산자를 사용하는 대신에 gt를 사용합니다. -->
<!--            이는 Thymeleaf 템플릿이 XML/HTML 형식을 유지하면서 동시에 유효한 표현식을 사용-->

            <li>1 >= 10 = <span th:text="1 >= 10"></span></li>
            <li>1 ge 10 = <span th:text="1 ge 10"></span></li>
            <li>1 == 10 = <span th:text="1 == 10"></span></li>
            <li>1 != 10 = <span th:text="1 != 10"></span></li>
        </ul>
    </li>
    <li>조건식
        <ul>
            <li>(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)? '짝수':'홀수'"></span></li>
        </ul>
    </li>
    <li>Elvis 연산자
        <ul>
            <li>${data}?: 'Spring ! ' = <span th:text="${data}?: '데이터가 없습니다.'"></span></li>
            <li>${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
        </ul>
    </li>
    <li>No-Operation
        <ul>
            <li>${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</span>
            </li>
            <li>${nullData}?: _ = <span th:text="${nullData}?: _">데이터가 없습니다.</span></li>
        </ul>
    </li>
</ul>
</body>
</html>