<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logged In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container py-5">
    <div class="text-center">
        <h1 class="display-4" th:text="${username} "></h1>
        <p class="lead">님이 로그인 중입니다.</p>
    </div>

    <div class="text-center mt-5">
        <form action="/logout" method="post" id="logout-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="button" class="btn btn-primary" onclick="confirmLogout()">Logout</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    function confirmLogout() {
        if (confirm("로그아웃 하시겠습니까?")) {
            document.getElementById('logout-form').submit();
        }
    }
</script>

</body>
</html>
