<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<form id="signupForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("signupForm");
        form.onsubmit = function(event) {
            event.preventDefault(); // 폼 기본 제출 방지

            var formData = {
                username: form.username.value,
                email: form.email.value,
                password: form.password.value
            };

            fetch('/api/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData) // 폼 데이터를 JSON으로 변환
            })
                .then(response => response.json().then(data => ({ status: response.status, body: data })))
                .then(result => {
                    if (result.status === 200) {
                        console.log(result.body); // 응답 데이터 처리
                        alert("정상적으로 회원 가입이 되었습니다."); // 성공 메시지 표시
                        window.location.href = '/'; // 홈페이지로 리다이렉트
                    } else {
                        throw new Error(result.body.message); // 서버로부터 받은 에러 메시지
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(error.message); // 에러 메시지 표시
                });
        };
    });
</script>


</body>
</html>
