
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판 리스트</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:replace="layouts/header :: common-header"></div>






<!-- 메인 콘텐츠 -->
<div class="container mt-4">



    <table class="table table-hover">
        <thead class="table-hover">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>


        <tbody>
        <!--  테이블 데이터 반복 -->
        <tr th:each="article : ${articlePage.content}">
            <td th:text="${article.id}">번호</td>
            <td th:text="${article.authorNickname}">작성자</td>
            <td>
                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}">제목</a>
                <span class="comment-count" th:data-article-id="${article.id}"></span>
            </td>
            <td th:text="${article.view}">조회수</td>
            <td class="created_at" th:text="${article.createdAt}">작성일</td>
        </tr>
        </tbody>
    </table>



    <div class="row">
        <!-- 인기 게시글 버튼 (왼쪽 정렬) -->
        <div class="col text-left">
            <div th:if="${currentUser != null}">
            <a href="/articles/popular" class="btn btn-primary">인기글</a>
            </div>
        </div>

        <!-- 글쓰기 버튼 (오른쪽 정렬) -->
        <div class="col text-right">
            <div th:if="${currentUser != null}">
                <a href="/articles/new" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
    </div>



    <!-- 푸터 삽입 -->
    <div th:replace="layouts/footer :: common-footer"></div>
</div>


<script>
    var elements = document.querySelectorAll('.created_at'); // 모든 'created_at' 클래스를 가진 요소 선택
    elements.forEach(function(element) {
        var originalDateString = element.textContent; // 각 요소의 텍스트 가져오기
        element.textContent = originalDateString.replace('T', '-'); // 'T'를 공백으로 교체
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var commentCountElements = document.querySelectorAll('.comment-count');

        commentCountElements.forEach(function(element) {
            var articleId = element.getAttribute('data-article-id');
            var articleLink = `/articles/${articleId}`; // 게시글 상세 페이지로의 링크

            fetch('/api/articles/count/' + articleId)
                .then(response => response.json())
                .then(data => {
                    // 'data'가 댓글 수를 나타냄. 댓글 수에 따라 다른 표시를 함.
                    if(data > 0) {
                        // 댓글이 있는 경우, 댓글 수와 함께 링크를 표시
                        element.innerHTML = `<a href="${articleLink}" class="comment-link">[${data}]</a>`;
                    }
                })
                .catch(error => console.error('Error fetching comment count:', error));
        });
    });
</script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>



</html>
