


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판 리스트</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:replace="layouts/header :: common-header"></div>

<!-- 메인 콘텐츠 -->
<div class="container mt-4">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">조회수</th>
            <th scope="col">작성시간</th>
        </tr>
        </thead>
        <tbody>
        <!--  테이블 데이터 반복 -->
        <tr th:each="article : ${articlePage.content}">
            <td th:text="${article.id}">ID</td>
            <td><a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}">Title</a></td>
            <td th:text="${article.content}">Content</td>
            <td th:text="${article.view}">조회수</td>
            <td th:text="${article.createdAt}">작성시간</td>
        </tr>
        </tbody>
    </table>

    <!-- 글쓰기 버튼 -->

    <div class="row">
        <div class="col text-right">
            <!-- 글쓰기 버튼 -->
            <div th:if="${currentUser != null}">
                <a href="/articles/new" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
    </div>

    <!-- 푸터 삽입 -->
    <div th:replace="layouts/footer :: common-footer"></div>
</div>


</body>
</html>



<!--@{/articles/{id}}: 이 부분은 URL의 템플릿을 정의합니다. 여기서 {id}는 URL 경로의 일부로 사용될 변수를 나타냅니다.
 예를 들어, 만약 id 값이 123이라면, 이 템플릿은 /articles/123으로 해석됩니다.-->

<!--(id=${article.id}): 이 부분은 실제 id 변수에 들어갈 값을 정의합니다.
${article.id}는 현재 Thymeleaf 컨텍스트에서 article 객체의 id 속성 값을 의미합니다.
이 표현식은 {id} 템플릿 변수를 실제 article 객체의 id 값으로 대체합니다.-->
